<div class="container">
    <footer class="footer">
       <nav>
           <ul>
             <li><%= link_to "about", about_path %></li><br>
             <li>bjhabdjhabd</li>
           </ul>
        </nav>   
    </footer>
</div>